.system-sector-container {
  font-size: 12px;

  .content-box {
    margin-top: 15px;
  }

  .el-form-item__label {
    font-weight: normal;
  }

  .dialog-content {
    .e-vue-form .e-vue-childen .el-input {
      width: 210px;
    }
  }

}
