.feature-clump-container {
  .clump-tabs {
    margin-bottom: 15px;

    .el-tabs__item {
      font-size: 12px;
    }

    .el-tabs--border-card {
      box-shadow: none;
      border-bottom: none;
    }

    .el-tabs__content {
      display: none;
    }

    .el-tabs__item {
      color: #333;
    }
  }

  .content-box {
    margin-top: 15px;

    .clump-desc {
      padding: 20px;
      display: flex;
      background: #f8f8f8;

      .clump-desc-detail {
        position: relative;
        flex: 1;

        .switchBox {
          display: inline-block;
          margin-left: 20px;
          animation: bounceInLeft .15s both;
        }

        .clump-set {
          position: relative;
          font-size: 12px;
          display: inline-block;
          margin-left: 30px;

          .el-button {
            padding: 0;
          }
        }

        .switch-title {
          font-size: 16px;
          font-weight: 700;
        }

        .switch-desc {
          p {
            margin-top: 10px;
            color: #666;
            font-size: 12px;
          }
        }
      }

      .public-adv-switch {
        .el-switch {
          padding-top: 10px;
        }
      }
    }
  }

  @keyframes bounceInLeft {
    0% {
      transform: translateX(-20px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .up-video-comment {
    .attachment-container {
      background: transparent;
    }
  }

  .drying-cover-url {
    position: absolute;
    left: 120%;
    top: 0;

    > img {
      max-width: 150px;
    }
  }

  .set-drying-cover-img {
    min-height: 250px;

    > p {
      margin-top: 10px;
      font-size: 12px;
      color: rgba(34, 34, 34, 0.5);
    }

    .drying-img {
      margin-top: 30px;
      margin-bottom: 30px;
      max-width: 100%;
    }
  }

  .showcase-design {
    padding-top: 20px;
    font-size: 12px;

    .choose-image {
      position: relative;

      > img {
        max-width: 150px;
      }

      .modify-image {
        position: absolute;
        bottom: 9px;
        left: 0;
        width: 100%;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        color: #fff;
        background: rgba(0,0,0,0.5);
        cursor: pointer;
        text-align: center;
      }
    }
  }

  .upload-tips {
    color: rgba(34, 34, 34, 0.5);
  }
}
