@import "../common/common.scss";

.statcenter-overview-container {
  font-size: 12px;

  .el-icon-question {
    display: inline;
    color: #bbb;
  }

  .data-top-current {
    display: flex;
    justify-content: space-between;

    > div {
      height: auto;

      &.data-top-current-num {
        background-color: #f8f8f8;
        width: 49%;
        display: flex;
        flex-wrap: wrap;
        overflow: auto;

        .data-top-current-num-text {
          width: 25%;
          // height: 50%;
          padding: 20px 10px 10px 10px;

          p {
            overflow: visible;
            font-size: 12px;

            &:nth-child(2) {
              font-size: 26px;
            }

            &:nth-child(3) {
              color: #9ea6b6;
            }
          }
        }
      }

      &.data-top-current-chart {
        border: 1px solid #e6e6e6;
        width: 50%;

        .data-top-current-chart-text {
          height: 40%;
          padding: 20px;

          p {
            font-size: 14px;

            &:nth-child(2) {
              font-size: 38px;
            }

            &:nth-child(3) {
              color: #9ea6b6;
            }
          }
        }

        .data-top-current-chart-box {
          height: 60%;
          width: 100%;
          min-height: 150px;
          position: relative;
        }
      }
    }
  }

  .data-core-index {
    margin-bottom: 20px;
    width: 100%;
    height: 220px;
    position: relative;

    .data-core-index-box {
      width: 1445px;
      margin: 0 auto;
      height: 100%;
      overflow: hidden;
      position: relative;

      .show-box {
        position: absolute;
        top: 0;
        height: 100%;

        .data-core-index-text {
          border: 1px solid #eee;
          width: 362px;
          height: 100%;
          box-sizing: border-box;
          position: relative;
          z-index: 1;
          float: left;
          margin-left: -1px;

          &:nth-child(1) {
            margin-left: 0px;
          }

          // &:nth-last-child(1) {
          //     border-right: none;
          // }
          &.active {
            border: 1px solid #3388ff;

            &::after {
              content: '';
              position: absolute;
              width: 0;
              height: 0;
              right: 0;
              bottom: 0;
              border-right: 12px solid #3388ff;
              border-bottom: 8px solid #3388ff;
              border-left: 12px solid transparent;
              border-top: 8px solid transparent;
            }

            .el-icon-check {
              position: absolute;
              right: 1px;
              bottom: -1px;
              z-index: 22;
              color: #fff;
            }
          }
        }
      }
    }

    > span {
      position: absolute;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      color: #fff;
      background-color: #c6c6c6;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      z-index: 999;

      &.leftBtn {
        left: 20px;
      }

      &.rightBtn {
        right: 20px;
      }
    }
  }

  .data-core-index-chart,
  .data-sales-target-chart {
    width: 100%;
    height: 400px;
    padding: 0 10px;
  }

  .data-traffic-kanban,
  .data-customer {
    margin-bottom: 10px;
    height: 500px;
    background-color: #fbfbfb;

    .data-traffic-kanban-chart {
      height: 450px;
      display: flex;
      padding: 10px;
      justify-content: center;

      > div {
        .text-box {
          height: 40%;
          width: 100%;
        }

        .chart-box {
          height: 60%;
          width: 100%;
        }

        &:nth-child(2) {
          margin: 0 10px;
        }
      }
    }

    &.data-traffic-kanban-one {
      .data-traffic-kanban-chart {
        > div {
          flex: 1;

          &:nth-child(2) {
            margin: 0 10px;
          }
        }
      }
    }

    &.data-customer {
      height: 350px;

      .data-traffic-kanban-chart {
        height: 300px;

        > div {
          flex: 3;

          &:nth-child(2) {
            margin: 0 10px;
          }

          &:nth-child(3),
          &:nth-child(4) {
            flex: 2;
          }
        }
      }

      .data-customer-text {
        > p {
          font-size: 14px;
          margin: 35px 0 20px 0;
        }

        > div {
          margin-bottom: 10px;

          p {
            padding-left: 10px;
            line-height: 30px;

            &:nth-child(2) {
              font-size: 28px;
            }

            &:nth-child(3) {
              color: #999;
            }
          }
        }
      }
    }

    &.data-traffic-kanban-two {
      height: 360px;

      .data-traffic-kanban-chart {
        height: 310px;
        justify-content: center;

        > div {
          width: 20%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .el-progress.el-progress--circle {
            svg {
              transform: rotateY(180deg);
            }
          }

          .textTemplate {
            padding: 20px 0;

            p {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }

  .data-commodity-kanban {
    height: 530px;
    display: flex;
    padding-bottom: 20px;

    .data-commodity-kanban-list {
      flex: 1;
      background-color: #fbfbfb;

      &:nth-child(1) {
        margin-right: 10px;
      }
    }

    &.data-client-kanban {
      height: 400px;

      .data-commodity-kanban-list {
        display: flex;
        flex-direction: column;

        > div {
          flex: 1;

          &.fans-text {
            display: flex;
            flex-direction: row;

            .fans-text-box {
              flex: 1;
            }
          }
        }
      }
    }
  }

  .data-sales-target-box {
    height: 200px;
    display: flex;

    .data-sales-target {
      flex: 1;
      background-color: #f8f8f8;

      &:nth-child(1) {
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .data-sales-target-text {
          font-size: 14px;

          p:nth-child(2) {
            font-size: 32px;
          }
        }
      }

      &:nth-child(2) {
        font-size: 14px;
        line-height: 25px;
        padding: 20px 0 0 40px;

        p:nth-child(2) {
          font-size: 32px;
          line-height: 40px;
        }

        .el-slider {
          width: 90%;
          margin-bottom: 10px;
        }
      }
    }
  }

  .data-sales-return-kanban {
    height: 450px;
    display: flex;
    margin-bottom: 10px;

    .data-sales-return {
      flex: 1;
      display: flex;
      flex-direction: column;
      background-color: #fdfdfd;

      &:nth-child(1) {
        margin-right: 10px;
      }

      .data-sales-return-box {
        flex: 1;
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .data-sales-return-text {
          font-size: 14px;

          p:nth-child(2) {
            font-size: 28px;
          }
        }
      }

      .data-sales-return-chart {
        flex: 2;
      }
    }

    &.data-sales-return-kanban-chart {
      height: 530px;
    }
  }

  .tableBox {
    height: 480px;
    width: 100%;
    padding: 0 10px;

    tr {
      height: 80px;
    }
  }
}